# Auto-report action script

name: Auto-report action

on: 
  schedule:
    - cron: "0 22 * * *"
  workflow_dispatch:

jobs:
  default:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run report script
      env:
        STUID: ${{ secrets.Stuid }}
        PASSWORD: ${{ secrets.Password }}
        JJLXR: ${{ secrets.Jjlxr }}
        JJDH: ${{ secrets.Jjdh }}
      run: |
        python runme.py "$STUID" "$PASSWORD" "$JJLXR" "$JJDH"
